body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    background-image: url('../img/intro-bg.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.layout{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}
.navbar-nav a{
    font-size: 17px;
    color:#fff
}
.navbar-nav a:hover{
color:  #20c997;
}
.links i{
    cursor: pointer;
    color: #fff;
}
.links i:hover{
color: #20c997;
}
.home{
    position: absolute;
    top: 35%;
    color: #fff;
    left: 37%;

    
}
.home-head{
    font-size: 34px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.home h1::after{
    content: '';
    animation: loop 7s infinite alternate linear;
    color: #fff;

}
@keyframes loop 
{
0%{
    content: ' |';
}    
5%{
    content: ' D|';
}    
10%{
    content: ' DE|';
}    
15%{
    content: ' DEV|';
}    
20%{
    content: ' DEVE|';
}    
25%{
    content: ' DEVEL|';
}    
30%{
    content: ' DEVELO|';
}    
35%{
    content: ' DEVELOP|';
}    

40%{
    content: ' DEVELOPE|';
}    
45%{
    content: ' DEVELOPER|';
}    
50%{
    content: ' |';
}    
60%{
    content: ' D|';
}    
65%{
    content: ' DE|';
}    
70%{
    content: ' DES|';
}    
75%{
    content: ' DESI|';
}  
80%{
    content: ' DESIG|';
}  
85%{
    content: ' DESIGN|';
}  
90%{
    content: ' DESIGNE|';
}  
100%{
    content: ' DESIGNER|';
}  
 
}

.iconss{
    position: absolute;
    bottom: 0;
    right: 50%;


}
.iconss i{
    cursor: pointer;
}
.sett{
    position: absolute;
    top: 50%;
    right: 0%;
    background-color: #20c997;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
.boke{
    position: fixed;
    bottom: 0%;;
    right: 0%;
}
.about{
    padding-top: 50px;
}
.about-head span{
padding: 1px;
width: 100px;
 display: block;
   margin: auto;
    background-color: #20c997;
}

.about-1 .siome{
 color:#20c997   
}
.about-1 .para{
    color: rgb(58, 56, 56);
}
.what{
    padding-top: 10%;
}
.about-head{
    padding-bottom: 50px;
}
.what1 {
    display: inline;
    margin-bottom: 10px;
}
.what1 i{
    display: inline;
    margin-left: 4px;
    padding: 10px;
    background-color: rgb(226, 218, 218);
    color: #20c997;
    font-size: 20px;
    border-radius: 10px;
}
.what1 h3{
    display: inline;
}
.what1 p{
  margin:10px
}
.contenrt{
    border:1px solid #ccc;
    padding:30px;
    border-radius: 10px;
    margin-bottom:10px
}
.contenrt h5{
background-color: #20c997;
border-radius: 10px;
color: #fff;

}
.contenrt h6{
 color: #20c997;
    border-radius: 10px;
}
.contenrt p{
    font-size: 15px;
}

.skills{
    padding: 50px 0;
}
.skill
{
    margin-bottom: 10px;
    overflow: hidden;
}
.skill .skill-para{
    width: 100%;
    background-color: #ccc;
    height: 5px;

    border-radius: 10px;
    font-size: 11px;
 
}
.skill .skill-par{
    width: 80%;
    background-color: #20c997;
    height: 5px;
margin: 0;


border-radius: 10px;

}